<div class="row">
    <div class="col-md-6">
        <div class="card no-border">
            <div class="header center-align">
                <h3>Book Vehicle</h3>
                <small class="caption">All fields are mandatory</small>
            </div>
            <form [formGroup]="bookVehicleForm">
                <div class="form-group">
                    <label for="VehicleName">Vehicle Name</label>
                    <input formControlName="VehicleName" type="text" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label for="BookForDate">Book For Date</label>
                    <input formControlName="BookForDate" type="date" placeholder="mm/dd/yyyy" class="form-control" >
                </div>
                <div class="form-group">
                    <label for="PickUpTime">Pick Up Time</label>
                    <div class="col-md-12">
                        <select class="inherit-width" id="PickUpTime" formControlName="PickUpTime">
                            <option *ngFor="let timeSlot of timeSlots" [ngValue]="timeSlot">{{ timeSlot }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="NumberOfHours">Number of Hours</label>
                    <input formControlName="NumberOfHours" type="number" class="form-control">
                </div>
                <div class="form-group">
                    <label for="EstimatedNumberOfKm">Estimated number of Km</label>
                    <input formControlName="EstimatedNumberOfKm" type="text" class="form-control" >
                </div>
                <div class="form-group">
                    <label for="EstimatedCost">Estimated Cost</label>
                    <input formControlName="EstimatedCost" type="text" class="form-control" >
                </div>
               <div class="same-row">
                    <button type="button" class="btn btn-outline-success">Book Vehicle</button>
                    <button type="button" class="btn btn-outline-success ml-5">Cancel</button>
               </div>
            </form>
        </div>
    </div>
</div>

Value: {{bookVehicleForm.value | json}}
Status: {{bookVehicleForm.status}}