.center-align {
  text-align: center;
}

.no-border {
  border: none !important;
}

.inherit-width {
  width: inherit;
}

.same-row {
  display: flex;
}

.caption {
  float: right;
  font-weight: 600;
}
